@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
    :root {
        --current-mode: var(--color-black);

        @variant dark {
            --current-mode: var(--color-white);
        }
    }

    html,
    body,
    #__nuxt {
        @apply h-full;
    }

    button:not(:disabled),
    [role="button"]:not(:disabled) {
        cursor: pointer;
    }
}

@theme {
    --color-current-mode: var(--current-mode);

    --shadow: 2px 2px 0 0 var(--color-current-mode);
    --shadow-sm: 3px 3px 0 0 var(--color-current-mode);
    --shadow-md: 4px 4px 0 0 var(--color-current-mode);
    --shadow-lg: 6px 6px 0 0 var(--color-current-mode);
}

@utility container {
    @apply mx-auto;
}

@layer components {
    .button {
        @apply inline-block
        rounded-full
        border-2
        border-current-mode
        py-3
        px-4
        text-current-mode
        shadow
        shadow-current-mode
        transition-transform
        hover:scale-95
        disabled:cursor-not-allowed
        disabled:opacity-50;
    }

    .button--primary {
        @apply bg-violet-600
        text-white
        hover:bg-violet-700
        dark:bg-violet-900
        dark:hover:bg-violet-800;
    }

    .button--secondary {
        @apply bg-white
        hover:bg-slate-100
        dark:bg-black
        dark:hover:bg-slate-900;
    }

    .button--min {
        @apply min-w-[12rem]
        max-w-full;
    }
}